

body {
    /*padding-top: 50px;*/
    padding-bottom: 50px;
    font-family: "Maven Pro"
}


.footer {
    margin-top: 100px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.login{
    width:500px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

th.rotate {
  /* Something you can count on */
  max-height: 110px;
  white-space: nowrap;
  padding-bottom: 10px;
  padding-top:90px;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(11px, 8px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 0px;
}
th.rotate > div > span {
  padding: 5px 1px;
}

th.bottom-align {
    vertical-align:bottom;
    text-align:left;
}

.form-inline {
    padding:0px;
}
.form-inline > * {
    margin:0px 0px !important;
}

.status-bubble {
    border: black 1.5px solid;
    opacity:0.7;
    fill:white;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.backlog{
    background:white;
}

.in-progress {
    fill:rgba(123,193,67,1);
    background:rgba(123,193,67,1);
}

.open{
    fill:rgba(123,193,67,.4);
    background:rgba(123,193,67,.4);
}

.closed{
    fill:rgba(27,117,188,1);
    background:rgba(27,117,188,1);
}

.complete{
    fill:rgba(27,117,188,.4);
    background:rgba(27,117,188,.4);
}

.on-hold-internal{
    fill:rgba(228,65,69,.8);
    background:rgba(228,65,69,.8);
}

.on-hold-external{
    fill:rgba(228,65,69,1);
    background:rgba(228,65,69,1);
}


.backdrop{
  background-color: #ddd;
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
  color:black !important;
  max-width: 200px !important;
  padding-bottom: 30px !important;
}

.material-tooltip{
    color:black !important;
    max-width: 200px !important;
}


.phase-divider {
    border-right: 1px dotted #ddd;
}

.nvd3Chart svg {
        height: 500px;
        width: 700px;
}

.static-size {
  height:750px;
  width:750px;
}

#connector-status {
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    width:95%;
}

.chartContainer {
    height:750px;
    width: 750px;
}

.nvd3Chart .card-action {
    background-color: lightblue
}

td.no-paddingz {
    padding: 2px;
    font-size: 12px;
}

#filterModal {
    height:80%;
    width:80%;
}

.client-scrum-filter{
    padding:10px;
}

.client-row{
    margin-bottom:1px;
}

.left-border{
    border-left: 1px solid lightgray;
}

.centered-spinner {
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 100%;
    margin: 15px;
}

.ticket-comment {
    min-width: 150px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    border:none;
    margin:0px;
    padding:0px;
    color:black;
}

#buildcount{
    width: 200px;
    text-align:center;
    padding:5px;
}

#buildcount > span{
    font-weight:bold;
}

.dstype{
    width:100px;
    max-width:100px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}