

body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

th.rotate {
  /* Something you can count on */
  height: 110px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(11px, 8px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 0px;
}
th.rotate > div > span {
  padding: 5px 1px;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 200px; /* width of the spinner gif */
    height: 2014px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.form-inline {
    padding:0px;
}
.form-inline > * {
    margin:0px 0px !important;
}

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;

  font-size: 13px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.right {
  padding: 10px 5px;
  margin-left: 3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  background-color: #ddd;
  border-radius: 4px;
  white-space: pre-wrap;      /* CSS3 */   
   word-wrap: break-word;      /* IE */

}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #ddd;
  border-width: 5px 5px 5px 0;
}

.categoryheader {
    border-right: 1px solid lightgray; 
    border-left: 1px solid lightgray;
}

.phase-divider {
    border-right: 1px dotted #ddd;
}




.nvd3Chart svg {
        height: 500px;
        width: 1000px;
}