@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 >CONNECTOR STATUS</h1>
    <p class="lead">Enter your JIRA username and password to refresh the status sheet.</p>
</div>

<div class="container" >
@using (Html.BeginForm("Index", "ConnectorStatus", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
{

        <div class="form-group">
            <label class="col-sm-3 control-label">Username</label>
            @Html.TextBox("username", "", new { @class = "form-control" }) 
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Password</label>
            @Html.Password("password", "", new { @class = "form-control" })    
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <input id ="loadTickets" class="btn btn-primary" type="submit" value="Log In"/>
            </div>    
        </div>
        

}

</div>
